body{
    background: #caa2E9 ;
    background: url(../../images/FOND.jpg);
    background-repeat: repeat;
	background-size: 100%;
	color: white;
}

header{
	background: url(../../images/head3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	border:1px solid;
		border-radius: 10px;
	width: 80%;
	height: 100px;
    margin: auto;
}

footer{
	background: url(../../images/head3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	border:1px solid;
	width: 80%;
	height: 100px;
    margin: auto;
}

nav li{
	display: inline-block;
    margin-right: 2%;
      padding: 1%;
}

nav a{
	margin-left: 5%;
    color:white;
    font-size: 1.8em;

}
nav a:hover{
    color: red;
    border-bottom: 3px solid #760001;
    	border-radius: 10px;
}

#skull{
	border: 1px solid ;
	width: 80%;
	margin: auto;
	background: url(../../images/Fond2.jpg);
	background-repeat: repeat;
	background-size: 100%;
}

td {
    border: 1px solid black;
}

input{
	width: 96%;
	margin: auto;
}

#formulaire{
	border: 1px solid black;
		border-radius: 10px;
	width: 45%;
	margin: auto;
}

#affichage{
	border: 1px solid black;
		border-radius: 10px;
	width: 100%;
	margin: auto;
	text-align: center;
}

#affichage_table_user{
	border: 1px solid black;
		border-radius: 10px;
	width: 95%;
	margin: auto;
}

.update{
	background-color:red; 
}

#ok_modification{
width: 60%;
color : grey;
border: 3px grey solid;
border-radius: 10px;
padding: 1.5em; 
float: center;
font-size: 2em;
font-family: algerian;
margin: auto;
margin-top: 20%;
}

#no_modification{
	border: 3px solid grey;
	width: 40%;
	margin: auto;
	margin-top: 20%;
	font-size: 2em;
	font-family: algerian;
	border-radius: 10px;
	text-align: center;
	padding: 0.75em;
	background-color: grey;
	font-style: bold;
}

#pied{
	text-align: center;
}